{% extends "base.html" %}
{% block right%}
  <table class="bordered">
    <tr>
      <th>
        作成日
      </th>
      <th>
        更新日
      </th>
      <th>
        ニックネーム
      </th>
      <th>
        検索名
      </th>
      <th>
        フルネーム
      </th>
      <th>
        プロフィール
      </th>
      <th>
        投票数
      </th>
      <th>
        詳細
      </th>
    </tr>
    {% for character in values.characters%}
      <tr>
        <td>
          {{character.created}}
        </td>
        <td>
          {{character.modified}}
        </td>
        <td>
          {{character.nick_name}}
        </td>
        <td>
          {{character.search_name}}
        </td>
        <td>
          {{character.full_name}}
        </td>
        <td>
          {{character.profile_text}}
        </td>
        <td>
          {{character.vote_number}}
        </td>
        <td>
          <a href="/characters/{{character._id}}">詳細</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
